.main_logo {
    font-family: 'Modak', cursive;
    font-size: 110px;
    font-weight: 400;
    width: 430px;
    line-height: 0.7;
    /*color: #ffaa3d;*/
    /*background-color: #2AA5A0;*/
    background-image: linear-gradient(90deg, #ee8a10, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 2s show ease;
    transition: color 1s linear;
    padding-top: 16px;
}


@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.main_histori {
    position: relative;
}

.main_information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 85vh;
    /*margin-bottom: ;*/
}

.main_logo_img {
    width: 500px;
    border: 10px solid black;
    margin-top: 20px;
}

.main_information_text {
    font-family: 'Belanosima', sans-serif;
    font-size: larger;
    padding: 20px 10px;
    color: wheat;
}

.graffiti_2 {
    width: 450px;
    margin-right: 30px;
}

.histori_logo {
    font-family: 'Creepster', cursive;
    background-image: linear-gradient(180deg, #ff6262, #ffaa3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 45px;
}

.-text_center {
    font-family: 'Belanosima', sans-serif;
    letter-spacing: 2px;
    text-align: left;
    padding: 20px 100px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.5px;
}

.big_letter {
    letter-spacing: -2px;
    font-size: 2em;
    font-weight: 600;
    line-height: 30px;
}

.histori_period {
    padding: 50px 100px 0px;
    font-family: 'Belanosima', sans-serif;
    font-size: 30px;
    background-image: linear-gradient(180deg,#ff6262, #ffaa3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_clasic_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border: solid 15px wheat;
    width: 700px;
}

/*.main_backgroud_img {*/
/*    position: absolute;*/
/*    background-image: url("/img_graffity/SubWay_background.PNG");*/
/*    background-position: -100% -100%;*/
/*    background-repeat: no-repeat;*/
/*}*/

.main_slyder {
    background-image: url("/img_graffity/background_graffity.PNG");
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.main_swim_obgect {
    position: absolute;
    left: -30%;
    overflow: hidden;
}

.subway_bacground {
    position: absolute;
    overflow: hidden;
    right: -50%;
    width: 400px;
}

.main_normal_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main_train_img {
    position: relative;
    margin: 40px 0px;
    background-image: url("/img_graffity/background_graffity_n2.PNG");
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.train_n1 {
    width: 600px;
    display: block;
    margin-left: 300px;
    border: solid 15px wheat;
}

.train_n2 {
    position: absolute;
    bottom: -40px;
    border: solid 15px #ee8a10;
}

.-spray {
    width: 240px;
    left: 100%;
    /*transform: skew(-30deg);*/
}

.main_img_car {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 15px wheat;
    margin-top: 30px;
    margin-bottom: 30px;
}

.-footer_text {
    color: #83303b;
    text-decoration: none;
}

@media screen and ( max-width: 1200px ) {
    .-spray {
        width: 170px;
        left: 57%;
    }
    .train_n1 {
        margin-left: 100px;
        width: 500px;
    }
    .main_logo {
        font-size: 80px;
        width: 280px;
    }
    .main_information {
        width: auto;
    }
}

@media screen and ( max-width: 930px ){
    .graffiti_2 {
        width: 330px;
    }
    .main_information {
        height: auto;
        margin-bottom: 100px;
    }
    .train_n1 {
        width: 400px;
    }
    .train_n2 {
        left: 140px;
        width: 400px;
    }

}

@media screen and ( max-width: 768px ) {
    .main_information {
        display: block;
        text-align: center;
    }
    .main_logo {
        width: auto;
    }
    .-text_center {
        padding: 20px 0px;
    }
    .graffiti_2 {
        margin-right: 0px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 100px;
        margin-top: 50px;
    }
    .train_n1 {
        width: 300px;
        margin-left: 0px;
    }
    .train_n2{
        left: 50px;
        left: 20px;
    }
    .main_swim_obgect {
        left: -85%;
    }
    .histori_period {
        padding: 50px 0px 0px;
    }
}
@media screen and ( max-width: 575px ) {
    .main_swim_obgect {
        left: -67%;
    }
    .train_n2 {
        width: 360px;
    }
    .main_information {
        margin-bottom: 50px;
    }
}


/*.absolute {*/
/*    position: absolute;*/
/*    right: 0%;*/
/*    overflow: hidden;*/
/*}*/


