.adaptivSlayder {
    position: relative;
    max-width: 660px;
    margin: 65px auto;
    box-shadow: 0 20px 15px -4px rgba(0, 0, 0, 0.69);
}

.adaptivSlayder input[name="kadoves"] {
    display: none;

}

.kadoves {
    position: absolute;
    left: 0;
    bottom: -35px;
    text-align: center;
    width: 100%;

}

.kadoves label {
    display: inline-block;
    width: 13px;
    height: 13px;
    cursor: pointer;
    margin: 0 2px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);
    border-radius: 55%;
    border: 2px solid #ffffff;
    background-color: #83303b;
}

.w-100 {
    border: solid 15px wheat;
}

.carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    background-color: #ee8a10;
    opacity: 0.3;
}


#slaid1:checked~.kadoves label[for="slaid1"] {
    background-color: white;
}

#slaid2:checked~.kadoves label[for="slaid2"] {
    background-color: white;
}

#slaid3:checked~.kadoves label[for="slaid3"] {
    background-color: white;
}

#slaid4:checked~.kadoves label[for="slaid1"] {
    background-color: white;
}

#slaid5:checked~.kadoves label[for="slaid2"] {
    background-color: white;
}

#slaid6:checked~.kadoves label[for="slaid3"] {
    background-color: white;
}

.adaptivSlayderlasekun {
    overflow: hidden;
}

.abusteku-deagulus {
    display: flex;
    width: 100%;
    transition: all 0.6s;
}

.abusteku-deagulus img {
    width: 100%;
    flex-shrink:0;
}

#slaid1:checked~adaptivSlayderlasekun abusteku-deagulus {
    transform: translate(0);
}

#slaid2:checked~.adaptivSlayderlasekun .abusteku-deagulus {
    transform: translateX(-100%);
}

#slaid3:checked~.adaptivSlayderlasekun .abusteku-deagulus {
    transform: translateX(-200%);
}

#slaid4:checked~adaptivSlayderlasekun abusteku-deagulus {
    transform: translate(0);
}

#slaid5:checked~.adaptivSlayderlasekun .abusteku-deagulus {
    transform: translateX(-100%);
}

#slaid6:checked~.adaptivSlayderlasekun .abusteku-deagulus {
    transform: translateX(-200%);
}

@media screen and (max-width: 768px){
    .adaptivSlayder {
        margin: 15px auto;
    }
}

@media screen and (max-width: 575px){
    .kadoves label {
        width: 18px;
        height: 18px;
    }
}